html,
body {
    background-color: var(--white);
    height: auto;
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100vw;
    padding: 20px;
}

.bento-box div {
    padding: 10px; /* Reduced padding */
    border-radius: 10px;
    text-align: center;
}

.div1 {
    background-color: var(--primary);
}

.div2 {
    background-color: var(--secondary);
}

.div3 {
    background-color: var(--dark-blue);
}

.div4 {
    background-color: var(--dark-purple);
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-grid img {
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.1);
}

:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.title {
    width: 100%;
    transition: transform 0.5s;
}

.title {
    display: block;
    filter: 
        drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.8)) 
        drop-shadow(-4px -4px 5px rgba(0, 0, 0, 0.8)) 
        drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.6));
}

.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    width: 90%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -8%, 100px);
}

#parasite {
    width: 220px;
    bottom: 20px;
    filter: brightness(2);
}

#parasitetitle {
    width: 110px;
}

#hxhtitle {
    width: 130px;
    bottom: 10px;
}

#abouttimechar {
    width: 70%;
    height: auto;
}

#hxh {
    width: 100%;
}

#toa {
    width: 95%;
}

#hxhtitle {
    width: 130px;
    bottom: 10px;
}

#aott {
    width: 200px;
}

.character {
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.9));
}

i {
    color: var(--black);
    opacity: 0.7;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#bigby {
    width: 200px;
}

#bigby img,
#abouttimechar img {
    width: 200px;
    filter: brightness(2);
}

#matty {
    width: 220px;
}

#mattymatty {
    width: 280px;
}

#wallows {
    width: 250px;
}

/* Responsive */

@media (max-width: 480px) {
    .bento-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    
    .bento-box div {
        width: 90%;
    }
    
    .icon-text i {
        font-size: 6rem;
    }

    .card {
        max-width: 200px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .bento-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 15px;
    }
    
    .bento-box div {
        width: 45%;
        align-items: center;
    }
    
    .icon-text i {
        font-size: 6rem;
    }

    .card {
        min-width: 400px;
        left: 80px;
    }
    .title {
        max-width: 200px;
    }
    h2 {
        font-size: 5rem;
    }
    i {
        opacity: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .bento-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 15px;
    }
    
    .bento-box div {
        width: 45%;
        align-items: center;
    }
    
    .icon-text i {
        font-size: 6rem;
    }

    .card {
        min-width: 400px;
        left: 80px;
    }
    .title {
        max-width: 200px;
    }
    h2 {
        font-size: 5rem;
    }
    i {
        opacity: 0;
    }
    .character{
        max-width: 200px;
    }
}