html, 
body {
    background-color: var(--white);
    height: auto;
    margin: 0;
    padding: 0;
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.bento-box div {
    overflow: hidden;
    border-radius: 10px;
    height: auto;
    padding: 20px;
}
    
.course {
    grid-column: span 2 / span 2;
    background-color: var(--primary);
    justify-content: center;
}

.languages {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    background-color: var(--secondary);
}

.frameworks {
    grid-row-start: 3;
    background-color: var(--dark-blue);
}

.databases {
    grid-row-start: 3;
    background-color: var(--dark-purple);
}

.development {
    grid-row-start: 4;
    background-color: var(--primary);
}

.uiux {
    grid-row-start: 4;
    background-color: var(--secondary);
}

.image-editing {
    grid-row-start: 5;
    background-color: var(--dark-blue);
}

.video-editing {
    grid-row-start: 5;
    background-color: var(--dark-purple);
}

.productivity {
    grid-row-start: 6;
    background-color: var(--primary);
}

.version {
    grid-row-start: 6;
    background-color: var(--secondary);
}

.os {
    grid-row-start: 7;
    grid-column: 1 / -1;
    background-color: var(--dark-blue);
}

.course p {
    font-size: 3rem;
}

.bento-box div > img {
    width: 70px;
    height: auto;
}

.bento-box div > i {
    color: var(--black);
}

.bento-box div {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

h2 {
    padding-top: 20px;
    line-height: 1;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .bento-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .bento-box div {
        padding: 15px;
    }

    .course p {
        font-size: 2rem;
    }

    .bento-box div > img {
        width: 50px;
    }
    h2 {
        font-size: 5rem;
        line-height: 1;
        text-align: center;
    }
    h3 {
        font-size: 4rem;
    }
    p {
        font-size: 1.3rem;
        text-align: center;
    }
    i, img {
        transform: scale(0.8);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .bento-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .bento-box div {
        padding: 18px;
    }

    .course p {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 5rem;
        line-height: 1;
        text-align: center;
    }
    h3 {
        font-size: 4rem;
    }
    p {
        font-size: 1.3rem;
        text-align: center;
    }
    i, img {
        transform: scale(0.8);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .bento-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        padding: 18px;
    }
    h2 {
        font-size: 7rem;
        line-height: 1;
        text-align: center;
    }
}